# Ignore compiled Python files
**/__pycache__
**/*.pyc

# Ignore VS Code workspace files
*.code-workspace

# Ignore build directories
**/build/
**/*.dist/
**/*.egg-info/

# Ignore main.spec file
main.spec

# Ignore Nuitka build directories and files
*.dist/
*.build/
*.egg-info/
*.spec
nuitka-crash-report.xml

# Ignore game icon (assuming the icon is in the root directory)
game_icon.ico

# Ignore any other specific file or folder you want (like the 'dist' folder)
dist/
