# Nuitka build folder
build/
dist/
__pycache__/
*.pyc
*.pyo
*.pyd
*.spec

# VS Code
.vscode/
*.code-workspace
.venv/

# Ignore custom folders if needed
main.build/
main.dist/
main.onefile-build/
/Corrupted-Shadows
